.clean-btn[title="Copy"] {
    display: none;
}
.clean-btn[title="Copy"] {
    display: none;
}

.header-github-link:hover {
    opacity: 0.6;
  }
  
  .header-github-link:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
      no-repeat;
    content: "";
    display: flex;
    height: 24px;
    width: 24px;
  }

.img-center {
    display: block;
    margin: auto;
}

.docs-icon::before {
    padding-right: 1.3rem;
    display: inline;
    width: 50px;
    height: 50px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/2991/2991108.png');
    content: '';
}

.tutorials-icon::before {
    padding-right: 1.3rem;
    display: inline;
    width: 50px;
    height: 50px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/759/759823.png');
    content: '';
}

.case-studies-icon::before {
    padding-right: 1.3rem;
    top: 0.1rem;
    position: relative;
    display: inline;
    width: 50px;
    height: 50px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/10218/10218668.png');
    content: '';
}

.intro-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/1946/1946436.png');
    content: '';
}

.category-icon .menu__list-item-collapsible a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/4669/4669966.png');
    content: '';
}

.public-network-icon .menu__list-item-collapsible a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/10515/10515609.png');
    content: '';
}

.community-icon .menu__list-item-collapsible a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/4121/4121044.png');
    content: '';
}

.getting-started-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/2285/2285551.png');
    content: '';
}

.architecture-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/4067/4067986.png');
    content: '';
}

.private-cluster-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/7358/7358460.png');
    content: '';
}

.lecture-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/171/171322.png');
    content: '';
}

.python-sdk-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/5968/5968350.png');
    content: '';
}

.debugging-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/3592/3592681.png');
    content: '';
}

.faqs-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/10870/10870247.png');
    content: '';
}

.tutorial-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/711/711284.png');
    content: '';
}

.menu__list li.tutorial-icon {
    padding: 0px;
    margin: 0px;
}

.docker-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/5969/5969059.png');
    content: '';
}

.wasm-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/WebAssembly_Logo.svg/2048px-WebAssembly_Logo.svg.png');
    content: '';
}

.sdk-icon .menu__list-item-collapsible a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/5331/5331596.png');
    content: '';
}

.help-icon .menu__list-item-collapsible a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/624/624606.png');
    content: '';
}

.integrations-icon .menu__list-item-collapsible a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/7082/7082748.png');
    content: '';
}


/* TUTORIALS */
.programming-icon .menu__list-item-collapsible a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/711/711284.png');
    content: '';
}

.prolog-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://plugins.jetbrains.com/files/13954/290585/icon/pluginIcon.png');
    content: '';
}

.r-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/1280px-R_logo.svg.png');
    content: '';
}

.rust-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Rust_programming_language_black_logo.svg/1024px-Rust_programming_language_black_logo.svg.png');
    content: '';
}

.bacalhau-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('/img/logo.png');
    content: '';
}


.data-processing-icon .menu__list-item-collapsible a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/4536/4536885.png');
    content: '';
}

.ethereum-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/4125/4125334.png');
    content: '';
}

.parquet-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://images.ctfassets.net/o7xu9whrs0u9/2X2rLL8qHObvzUyTvUBqzL/9055eea66d1291e5ce84eaec73c44483/parquet-logo.jpg');
    content: '';
}

.duckdb-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://pbs.twimg.com/profile_images/1274363897676521474/qgbqYYuV_400x400.jpg');
    content: '';
}

.image-processing-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/9423/9423110.png');
    content: '';
}

.video-processing-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/7626/7626990.png');
    content: '';
}

.aws-s3-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Amazon-S3-Logo.svg/1200px-Amazon-S3-Logo.svg.png');
    content: '';
}

.jupyter-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/1200px-Jupyter_logo.svg.png');
    content: '';
}

.general-data-processing-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/4536/4536885.png');
    content: '';
}

.nvidia-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/732/732230.png');
    content: '';
}


.machine-learning-icon .menu__list-item-collapsible a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/6100/6100860.png');
    content: '';
}

.folder-icon.menu__list-item a::before {
    padding-right: 0.5rem;
    display: inline;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/128/1383/1383507.png');
    content: '';
}


